<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>basic auth</title>
  </head>
  <body>
    <% if (user) {%>
    <h1>welcum bacc <%= user.username %></h1>
    <a href="/log-out">log out</a>
    <%} else {%>
    <h1>pls log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">username</label>
      <input type="text" name="username" placeholder="username" />
      <label for="password">password</label>
      <input type="password" name="password" placeholder="password" />
      <button>log in</button>
    </form>
    <%}%>
  </body>
</html>
